<a href="https://colab.research.google.com/github/Faizan011-LTIM/Python_Pgm/blob/main/Python_Pgm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Students Grade in Examination

In [ ]:
marks=int(input("Enter Marks Percentage: "))

if(marks>=70 and marks<=100):
  print("Student Grade is: Distinction")
elif(marks>=60 and marks<=69):
  print("Student Grade is: First Class")
elif(marks>=50 and marks<=59):
  print("Student Grade is: Second Class")
elif(marks>=40 and marks<=49):
  print("Student Grade is: Third Class")
elif(marks>=0 and marks<=39):
  print("Student Grade is: Fail")
else:
  print("Invalid Marks")

Enter Marks Percentage: 85
Student Grade is: Distinction

## Arithmetical Operations: Addition (+), Subtraction (-), Product (*), Division (/), Remainder (%), Quotient (//)

In [5]:
x = float(input("Enter the number: "))
y = float(input("Enter the number: "))
z = x + y
print(f"Sum {x} + {y} = {z}")

a = x - y
print(f"Subtraction {x} - {y} = {a}")

b = x * y
print(f"Product {x} * {y} = {b}")

Enter the number: 12
Enter the number: 8
Sum 12.0 + 8.0 = 20.0
Subtraction 12.0 - 8.0 = 4.0
Product 12.0 * 8.0 = 96.0

In [6]:
x = float(input("Enter the number: "))
y = float(input("Enter the number: "))

if y == 0:
    print("Error: Denominator should not be ZERO")

else:
    z = x/y
    print(f"Division: {x} / {y} = {z:.2f}")             # Used '.2f' to keep 2 digits after decimal

    a = x%y
    print(f"Remainder: {x} % {y} = {a}")

    b = x//y
    print(f"Quotient: {x} // {y} = {b}")

Enter the number: 59
Enter the number: 4
Division: 59.0 / 4.0 = 14.75
Remainder: 59.0 % 4.0 = 3.0
Quotient: 59.0 // 4.0 = 14.0

## Swap two Variables

In [7]:
x = input("Enter the value of 1st Variable: ")
y = input("Enter the value of 2nd Variable: ")

print(f"Original Values x = {x}, y = {y}")
x, y = y, x

print(f"Swapped Values x = {x}, y = {y}")

Enter the value of 1st Variable: a
Enter the value of 2nd Variable: b
Original Values x = a, y = b
Swapped Values x = b, y = a

## Area Of Triangle

In [ ]:
base = float(input("Enter Base of Triangle: "))
height = float(input("Enter Height of Triangle: "))

area = (base*height)/2

print("Area of Triangle is: ", area)

Enter Base of Triangle: 12
Enter Height of Triangle: 6
Area of Triangle is:  36.0

## Sum of number

In [1]:
x,y,z=float(input("value of x: ")), float(input("value of y: ")), float(input("value of z: "))
a = x + y + z
print(a)

value of x: 23
value of y: 17
value of z: 10
50.0

## Table of integers

In [9]:
a=int(input('Enter the number: '))
print('Table of',a,'=',end=' ')
for i in range(1,11):
  print(a*i,end=' | ')

Enter the number: 9
Table of 9 = 9 | 18 | 27 | 36 | 45 | 54 | 63 | 72 | 81 | 90 |

## Mixed Pattern: Diamonds

In [8]:
n = 9

for i in range(0, n + 1):
   print(' ' * (n - i), end = ' ')
   for j in range(1, i + 1):
       print(chr(j + 64), end = ' ')
   for j in range(0, (n - i)):
       print(' ', end = ' ')
   for j in range(i, 0, -1):
       print('.', '', end = '')
   for j in range(0, (n - i)):
       print(' ', end = ' ')
   for j in range(1, i + 1):
       print(j, end = ' ')
   for j in range(0, (n - i)):
       print(' ', end = ' ')
   for j in range(1, i + 1):
       print('.', end = ' ')
   for j in range(0, (n - i)):
       print(' ', end = ' ')
   for j in range(1, i + 1):
       print(chr(j + 96), end = ' ')
   print()


for i in range(n - 1, 0, -1):
   print(' ' * (n - i), end = ' ')
   for j in range(1, i + 1):
       print(chr(j + 64), end = ' ')
   for j in range(0, (n - i)):
       print(' ', end = ' ')
   for j in range(i, 0, -1):
       print('.', '', end = '')
   for j in range(0, (n - i)):
       print(' ', end = ' ')
   for j in range(1, i + 1):
       print(j, end = ' ')
   for j in range(0, (n - i)):
       print(' ', end = ' ')
   for j in range(1, i + 1):
       print('.', end = ' ')
   for j in range(0, (n - i)):
       print(' ', end = ' ')
   for j in range(1, i + 1):
       print(chr(j + 96), end = ' ')
   print()

         A                 .                 1                 .                 a
        A B               . .               1 2               . .               a b
       A B C             . . .             1 2 3             . . .             a b c
      A B C D           . . . .           1 2 3 4           . . . .           a b c d
     A B C D E         . . . . .         1 2 3 4 5         . . . . .         a b c d e
    A B C D E F       . . . . . .       1 2 3 4 5 6       . . . . . .       a b c d e f
   A B C D E F G     . . . . . . .     1 2 3 4 5 6 7     . . . . . . .     a b c d e f g
  A B C D E F G H   . . . . . . . .   1 2 3 4 5 6 7 8   . . . . . . . .   a b c d e f g h
 A B C D E F G H I . . . . . . . . . 1 2 3 4 5 6 7 8 9 . . . . . . . . . a b c d e f g h i
  A B C D E F G H   . . . . . . . .   1 2 3 4 5 6 7 8   . . . . . . . .   a b c d e f g h
   A B C D E F G     . . . . . . .     1 2 3 4 5 6 7     . . . . . . .     a b c d e f g
    A B C D E F       . . . . . .       1 2 3 4 5 6       . . . . . .       a b c d e f
     A B C D E         . . . . .         1 2 3 4 5         . . . . .         a b c d e
      A B C D           . . . .           1 2 3 4           . . . .           a b c d
       A B C             . . .             1 2 3             . . .             a b c
        A B               . .               1 2               . .               a b
         A                 .                 1                 .                 a

## Display Calendar

In [4]:
import calendar
year = int(input("Enter year: "))
month = int(input("Enter month: "))
cal = calendar.month(year, month)
print(cal)

Enter year: 2025
Enter month: 05
      May 2025
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31